body {
    background-color:white;
    margin: 0;
}

.head {
    width: 130%;
    height: 30px;
    background-color: #e5bcc2;
}


.logoNatalia {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color:#e5bcc2;
    font-family: cursive;
    font-size:20px;
}

.logoNatalia img {
    width: 30%;
}

.menuNatalia {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: inline;
}
.menuNatalia ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #fae8ea;
} 

li a {
    text-decoration: none;
    color: #c57c88;
    font-weight: bold;

}

li a:hover, .activated {
    color: #7e4b61;
}

.stickyy {
    display: block;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 9;
}

@media only screen and (max-width: 1000px) {
    .logoNatalia {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color:#e5bcc2;
        font-family: cursive;
        font-size:20px;
    }
    
    .logoNatalia img {
        width: 50%;
    }
    

    .menuNatalia {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        display: inline;
    }
    .menuNatalia ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 20px;
        background-color: #fae8ea;
    } 
    
    li a {
        text-decoration: none;
        color: #c57c88;
        font-weight: bold;
    
    }
    
    li a:hover, .activated {
        color: #7e4b61;
    }
}


.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}


.aboutmeIMG {
    display: flex;
    justify-content: center;
    align-items: center;
}

#NatIO{
    width: 60%;
    margin-top: 80px;
    margin-bottom: 20px;
}


#IO {
    width: 30%;
    margin-left: 10px;
    margin-right: 70px;
    margin-top: 50px;
}

#IO2 {
    
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5vw;
    color: #4c4247;
    text-align: left;
    margin-right: 0px;
    margin-left: 9vw;
    margin-bottom: 100px;
    margin-top: -90px;
    width: 50%; 
    align-self: flex-start;
    justify-self: flex-start;
}

@media only screen and (max-width: 1000px) {
    
    .aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    
    
    .aboutmeIMG {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #NatIO{
        width: 90%;
        margin: 0;
    }
    
    
    #IO {
        width: 40%;
        margin: 0;
        margin-top: -40px;
    }
    
    #IO2 {
        
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 2vw;
        color: #4c4247;
        text-align: center;
        margin-left: 0;
        margin-bottom: 50px;
        margin-top: 0;
        width: 80%;
        align-self: center;
        justify-self: center;
    }
}




.grid-container {
    padding: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
    grid-gap: 90px 35px;
    background-color: #e0c2c3;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-item img{
    width: 70%;
}

.grid-item p{
    width: 70%;
    color: white;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 1000px) {

    .grid-container {
        padding: 30px;
        padding-top: 120px;
        padding-bottom: 120px;
        grid-gap: 40px;
        background-color: #e0c2c3;
        display: grid;
        grid-template-columns: auto;
        
    }

    .grid-item p{
        width: 70%;
        color: white;
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
    }

    
    .imgOne {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .imgTwo {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .imgThree {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .imgFour {
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .txtOne {
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 100px;
    }
    .txtTwo {
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 100px;
    }
    .txtThree {
        grid-row-start: 5;
        grid-row-end: 6;
        margin-bottom: 100px;
    }
    .txtFour {
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
}    

.contactMe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 120px;
    margin-top: 50px;
}

.contactgrid{
    display: grid;
    grid-template-columns: 45% 55%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #c693c2; /* Pink border */
    border-radius: 0px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input:active, input:focus, textarea:active, textarea:focus{
    outline: none !important;
    border: 2px solid #b4728e;
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color:#c693c2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker pink color */
input[type=submit]:hover {
    background-color: #b4728e;
}
  
  /* Add a background color and some padding around the form */
.containerContact {
    border-radius: 0px;
    background-color: white;
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end{
    width: 70%;
    justify-self: center;
}

.cooperate{
    font-family: 'Avenir Light';
    color: #c693c2;
}

.Send{
    font-family: 'Avenir Light';
    margin-top: -20px;
    z-index: 2;
}

.getInTouch{
    font-family: 'Avenir Heavy';
    font-size: 90px;
    margin-right: 90px;
    margin-top: 50px;
    color: #b4728e;
}


@media only screen and (max-width: 1000px) {

    .contactMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: white;
        padding: 0px;
        margin-top: 50px;
    }
    
    .contactgrid{
        display: grid;
        grid-template-columns: 90%;
        
    }
    
    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */  
        border: 1px solid #c693c2; /* Pink border */
        border-radius: 0px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    input:active, input:focus, textarea:active, textarea:focus{
        outline: none !important;
        border: 2px solid #b4728e;
    }
      
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color:#c693c2;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
    }
      
    /* When moving the mouse over the submit button, add a darker pink color */
    input[type=submit]:hover {
        background-color: #b4728e;
    }
      
      /* Add a background color and some padding around the form */
    .containerContact {
        border-radius: 0px;
        background-color: white;
        width: 70%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .end{
        width: 70%;
        justify-self: center;
        text-align: center;
        margin-bottom: 20px;
        
    }
    
    .cooperate{
        font-family: 'Avenir Light';
        color: #c693c2;
        font-size: 25px;
        margin-top: 20px;
        
    }
    
    .Send{
        font-family: 'Avenir Light';
        margin-top: -20px;
        z-index: 2;
        margin-bottom: 70px;
    }
    
    .getInTouch{
        font-family: 'Avenir Heavy';
        font-size: 80px;
        color: #b4728e;
        margin-right: 0;
        margin-top: 30px;
        text-align: center;
    }
} 
